/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo del cuerpo */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #211f1f, #6e6a6a);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Logo */
.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
}
.logo img {
  max-width: 250px;
}

/* Barra de búsqueda */
.search-bar {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px 10px;
  width: 650px;
  background-color: transparent;
}
.search-bar:focus-within {
  border-color: #898787;
  box-shadow: 0px 2px 5px rgba(0, 0, 255, 0.2);
}
.search-bar input {
  border: none;
  outline: none;
  font-size: 18px;
  flex: 1;
  color: #fff;
  background: none;
}
.search-bar .actions {
  display: flex;
  gap: 5px;
}
.search-bar .actions button {
  border: none;
  background: none;
  color: #fff;
  cursor: pointer;
}
.search-bar .actions button:hover {
  color: #FF0033;
}
/* Barra de reproducción */
.player-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181818;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #282828;
}
.song-info {
  display: flex;
  align-items: center;
}
.cover {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  margin-right: 10px;
}
.details {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 14px;
  font-weight: bold;
}
.artist {
  font-size: 12px;
  color: #b3b3b3;
}

/* Controles */
.controls {
  display: flex;
  gap: 20px;
}
.control-btn {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* Barra de progreso */
.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.current-time, .duration {
  font-size: 12px;
  color: #b3b3b3;
}
.progress-bar {
  flex: 1;
  height: 5px;
  background: #404040;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.progress {
  height: 100%;
  background: #7b1515;
  width: 200px;
}
/* Acciones */
.actions {
  display: flex;
  gap: 10px;
}
.action-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.player{
  border-radius: 15px;
  overflow: hidden;
  width: 300px;
align-content: center;
  background: #ffffff;
  position: relative;

  box-shadow: 0 50px 80px rgba(0,0,0,0.25);
  .imgBx{
      position: relative;
      width: 100%;
      height: 300px;
      
      img{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }
}